
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width: 1380px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background:black;
}

.body-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  max-width: 1380px;
  min-width: 320px;
  margin: 0px auto;
  padding: 0;
  text-align: center;
  background:white ;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;
  padding:140px 20% 30px 20%;
  animation: slideInLeft 1.2s ease-out;
}

@keyframes slideInLeft {
  from {
      transform: translateX(-50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.intro-txt {
  font-family: "Futura LT", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color:#464646;
  text-align: left;
}

.section-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  animation: slideInRight 1.2s ease-out;
}

@keyframes slideInRight {
  from {
      transform: translateX(50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.nav-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:90%;
  margin: 0 auto;
  padding: 30px 5% 30px 5%;
  text-align: center;
}

.nav-li {
  background:white;
  position: relative; /* Nécessaire pour le positionnement du ::before */
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
  border:1px solid lightgray;
  overflow: hidden; /* Cache tout ce qui dépasse l'élément parent */
  transition: transform 0.3s ease, color 0.3s ease;
  border-radius: 0px; /* Ajout de coins arrondis pour un design moderne */
}

.nav-li-a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width:90%;
  padding: 5%;
  text-align: center;
  background: white;
  text-decoration: none;
  font-family: "Futura LT", sans-serif;
  color: #464646;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-li-a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Commence en dehors à gauche */
  width: 100%;
  height: 100%;
  background: rgba(159, 159, 159, 0.3); /* Couleur de la surbrillance */
  transform: translateY(0); /* Pas besoin de centrer verticalement */
  transition: left 0.4s ease-in-out; /* Rend le déplacement fluide */
  z-index: 1;
}

.nav-li-a:hover::before {
  left: 0; /* Fait glisser la surbrillance pour couvrir l’élément */
}

.logo {
  margin-bottom: 10px;
  width: 200px;
  height:165px;
  overflow: hidden;
  background: white;
  object-fit: contain;
}
