
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.section-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.title1 {
  font-family: "Josefin", sans-serif;
  text-transform: uppercase;
  color:white;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}

.nav-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  margin: 0 auto;
  padding: 50px 10% 50px 10%;
  text-align: center;
  background: black;
}

.nav-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: black;
  border:1px solid white;
}

.nav-li-a {
  width:100%;
  text-align: center;
  background: black;
  text-decoration: none;
  font-family: "Futura LT", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.nav-li-a:hover {
  color : blue;

}
