#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width: 1380px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width: 1380px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}